{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<<<<<<< HEAD
<!-- Navigation -->
<nav class= "navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ffffff;">

    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{{asset("/img/logok&f.jpg")}}"></a>
        <a class="navbar-brand navbar-light" href="#">Réseau social de proximité</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token is defined %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                    <table style="margin-left: 30%; cellpadding:0">
                        <tbody >

                            <tr>
                                <td>
                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="login"/>
                                </td>
                                <td>
                                    <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="mot de passe" />

                                </td>
                                <td style="cellspacing: 10px">
                                    <input type="checkbox" class="checkbox-inline" id="remember_me" name="_remember_me" value="on" />

                                </td>
                                <td>
                                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'Confirmer'|trans }}" />
                                </td>
                                <td><a class="nav-link" href="#">Inscription</a></td>
                                <td> <a class="nav-link" href="#">Blog</a></td>
                            </tr>
                </tbody>
            </table>
            </form>
        </div>
    </div>
</nav>


>>>>>>> f3217f0d82632a70fc3bf1b2def794e0d2c3a13b


<!-- Navigation
<nav class= "navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{{asset("/img/logo.png")}}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.dev.kidsandfamily.fr">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inscription</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->

<body>
<div>

</div>
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>



<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel"
>
    <ol class="carousel-indicators text-center">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/slid1bis.jpg" class="d-block mw-100">
            <div class="carousel-caption">
                <h1 class="display-2" class="Sketch_Gothic_School">Bienvenue!</h1>
                <h3 class="display-3"></h3>
                <a href="http://www.dev.kidsandfamily.fr" class="btn btn-primary">Site Principal</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/2.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="img/3.png" class="d-block w-100">
        </div>
    </div>
    <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container-fluid padding">
    <div class="row picto text-center">
        <div class="col-12">
            <img src="/img/picto.jpg">
        </div>
    </div>
</div>

<!--- Jumbotron
<div class="jumbotron">
  <h1 class="display-5">Ici se trouvera bientot un site</h5>
  <p class="lead">Faites un tour et amusez vous, tant que ce ne sera pas fini il n'y aura pas grand chose a voir, mais bon.</p>
  <hr class="my-4">
	<a class="btn btn-warning btn-lg" data-toggle="collapse" href="#exemple" role="button" aria-expanded="false" aria-controls="exemple">En voir plus</a>
	<div class="row">
	  <div class="col">
	    <div class="collapse" id="exemple">
	      <div class="card card-body">
	        Spluch.
	      </div>
	    </div>
	  </div>
	</div>
</div> -->

<!--- Welcome Section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Notre Volonté</h1>

        </div>
        <div class="col-12">
            <p class="lead">Faire vivre des experiences, recréer des moments de partage et de lien, pour les enfants, la famille et les lieux les accueillants.</p>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row slt text-center">
        <div class="col-12">
            <h1 class="display-4">Notre Démarche</h1>

        </div>
        <div class="col-12">
            <p class="lead">Collaborer/S'entraider/Partager/Proposer/Recenser</p>
            <p class="lead">Agir ensemble pour construire une vie meilleure en proximité</p>
            <img src="/img/Fonct.jpg">
        </div>
    </div>
</div>

<!--- Three Column Section
<div class="container-fluid padding">
<div class="row text-center padding">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<img src="img/Embleme1.png">
		<h3>Pour l'Empereur</h3>
		<p>Par Sa force divine.</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<img src="img/Embleme2.png">
		<h3>Pour Dorn</h3>
		<p>Par son sacrfice et sa bravoure.</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4">
		<img src="img/Embleme.png">
		<h3>Et pour l'Imperium</h3>
		<p>Pour qu'il retrouve sa gloire.</p>
	</div>
</div>
<hr class="my-4">
</div> -->

<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Comment ca fonctionne?</h1>

        </div>
    </div>
</div>

<!--- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding text-center">
        <div class="col-md-12 col-lg-6">
            <h2>Participer partout</h2>
            <hr>
            <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            <br>
            <a href="https://youtu.be/HJNz2QgSNsk" class="btn btn-warning">Rejoignez l'astra militarum</a>
        </div>
        <div class="col-lg-6">
            <img src="/img/GIF SITE INTERNET.gif" class="img-fluid">
        </div>
    </div>
</div>
<hr class="my-4">

<!--- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding text-center">
        <div class="col-lg-6" >
            <img class="img-fluid" src="/img/visuel.png">
        </div>
        <div class="col-lg-6">
            <h2>Collaborer</h2>
            <hr>
            <p>Vous aller aimer collaborer avec nous</p>
            <p></p>
        </div>
    </div>
</div>
<hr class="warning col-12">

<!--- Fixed background
<figure>
    <div class="fixed-wrap">
        <div id="fixed">

        </div>
    </div>
</figure>-->

<!--- Emoji Section
<button class="fun btn-primary" data-toggle="collapse" data-target="#gif">Cliquez, si vous l'osez</button>
<div id="gif" class="collapse">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-sm-12 col-md-12">
                <img class="gif" src="img/tenor.gif">
            </div>
        </div>
    </div>
</div> -->

<!--- Meet the team -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1>Dites bonjour a l'actu:</h1>
        </div>
    </div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/image3.jpg">
                <div class="card-body">
                    <h4 class="card-title">Actualité</h4>
                    <p>Salut l'actu</p>
                    <!--<a href="#" class="btn btn-outline-secondary">Tableau de chasse</a>-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/image3.jpg">
                <div class="card-body">
                    <h4 class="card-title">Actualité yo</h4>
                    <p>Oh boy l'actu</p>
                    <!--<a href="#" class="btn btn-outline-secondary">Tableau de chasse</a>-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/image3.jpg">
                <div class="card-body">
                    <h4 class="card-title">Actualité</h4>
                    <p>C'est un avion? c'est un oiseau? Non! C'est une actu!</p>
                    <a href="/scdpage.html" class="btn btn-outline-secondary">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="img/image3.jpg">
                <div class="card-body">
                    <h4 class="card-title">Actualité yo</h4>
                    <p>Oh boy l'actu</p>
                    <!--<a href="#" class="btn btn-outline-secondary">Tableau de chasse</a>-->
                </div>
            </div>
        </div>
    </div>
</div>


<!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Rejoignez nous!</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>

{{include('/footer.html.twig')}}


{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

</body>
</html>
