{% include "layout.html.twig" %}
{% block content %}
    {% block fos_user_content %}
        {% include "@FOSUser/Profile/edit_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock content %}