

<div class="fos_user_user_show">
    <h1>Hello world</h1>
    <p>{{ user.username }} | <a href="{{ path('message_form',{'receiver': user.username}) }}"> Message </a></p>
    <p>{{ user.email }}</p>
    <p>{{ user.phoneNumber }}</p>
    <p>{{ user.gender }}</p>
    <p>{{ user.address}}</p>
    <p>{{ user.city}}</p>
    <p>{{ user.country}}</p>
    <table>
        {% for interet in interets %}
        <td>{{ interet }}</td>
        {% endfor %}
    </table>
    <img src="{{ asset('uploads/'~user.cover.file) }}" />

</div>
