@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');





html, body
{
height: 100%;
width: 100%;
font-family: "Poppins", sans-serif;
color: #222;
}

.navbar{
  padding: .8rem;
}

.navbar img{
  width:75%;
  height:85%;
}

.navbar-brand{
        /*color:#ff6600 !important;*/
}

.navbar-nav li{
  padding-right: 20px;
  color: #ff6600 !important;
}

.navbar-nav li a{
  color: #ff6600 !important;
}

.nav-link{
  font-size: 1.1em !important;
}

.carousel-inner img {

  width: 100%;
  height: 600px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
}

.carousel-caption h1{
  font-size: 500%;
  text-shadow: 1px 1px 10px #000;
  color: #ffffff;
}

h1{
    color: #ff6600;
}

.fun {
  width: 100%;
  margin-bottom: 1rem;
}
.padding{
  padding-bottom: 1rem;
}

.welcome{
  width:75%;
  margin: 0 auto;
  padding-top: 1rem;
}

.welcome hr{
  border-top: 1px solid #b4b4b4;
  width: 60%;
}

.slt hr{
  border-top: 1px solid #b4b4b4;
  width: 40%;
}

.social a{
  font-size: 4.5em;
  padding: 1rem;
}

.fa-facebook{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.fa-instagram{
  color: #517fa4;
}

.fa-youtube{
  color: #bb0000;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover,.fa-youtube:hover{
  color: #000000;
}

.slt img{
  width:75%;
  height:75%;
}

.picto img{
  width:80%;
  height:90%;
}

footer{
  background-color: #000000;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

hr{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/slide2.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.mymessage{

  border: #ffa500 ;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-left:70%;
  margin-top: 5px;
  background-color:white;
}
.othermessage{
  border: #b42f52 ;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-right:70%;
  margin-top: 5px;
  background-color:white;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
