{% include "layout.html.twig" %}
{% block title %}
    {% if blogPosts is defined%}
        Liste des articles
    {% elseif blogPost is defined %}
        {{ blogPost.title }}
    {% endif %}
{% endblock %}
    {% block fos_user_content %}
    {% include "/blog/article_content.html.twig" %}
{% endblock fos_user_content %}

