{{include('/header.html.twig')}}
<hr>
<div class="container padding col-md-12 text-center">
  <h1>Bienvenu dans la rubrique Articles</h1>
</div>
<hr>

<div class="row padding">
    <div class="col-lg-10">
        <div class="container-fluid padding text-center">
            <div class="row padding">
    <div class="col-3">

    </div>
    <div class="col-2">
        <a href="{{ path('user_create_article')  }}"class="btn btn-outline-secondary">Créer un article</a>
    </div>
                <div class="col-2">
                    <a href="{{ path('user_create_article')  }}" class="btn btn-outline-secondary">Je sais pas</a>
                </div>
                <div class="col-2">
                    <a href="{{ path('user_create_article')  }}" class="btn btn-outline-secondary">Je sais pas</a>
                </div>
                <div class="col-2">
                    <a href="{{ path('user_create_article')  }}" class="btn btn-outline-secondary">Je sais pas</a>
                </div>
</div>
    </div>
</div>
</div>
{% if blogPosts is defined%}
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-10">
        <div class="container-fluid padding">
            <div class="row padding">


                    {% for blogPost in blogPosts %}

                        <div class="col-md-12">
                            <a href="{{ 'article/'~blogPost.slug}}">
                            <div class="media bg-light p-3">
                                {% if blogPost.cover.file is defined %}
                                    <img class="mr-3" src="{{ asset('uploads/'~blogPost.cover.file)| imagine_filter('new_list') }}" alt="Card image cap" />
                                 {% endif %}
                                <div class="media-body">
                                    <h5 class="mt-0"> {{ blogPost.title }}</h5>
                                     <p>{{ blogPost.description }}</p>
                                 </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
            </div>
            </div>
        </div>

</div>
</div>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> <a href="#"> Start Bootstrap </a> </li>
            <li> <a href="#">Dashboard</a> </li>
            <li> <a href="#">Shortcuts</a> </li>
            <li> <a href="#">Overview</a> </li>
            <li> <a href="#">Events</a> </li>
            <li> <a href="#">About</a> </li>
            <li> <a href="#">Services</a> </li>
            <li> <a href="#">Contact</a> </li>
        </ul>
    </div> <!-- /#sidebar-wrapper -->

    <div>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-right" >
        <ul>
            <li>
                <a href="{{ path('user_create_article')  }}">Créer un article</a></li>

            <li><a href="#">Je sais pas</a></li>
        </ul>


    </nav>
</div>

{% endif %}

<hr class="my-4">
{{include('/footer.html.twig')}}
    <!--  <div class="col-md-12">
          <div class="card mb-3">
              <img class="card-img-top" src="img/image6.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>
      </div>-->
    <!--  <div class="card mb-3">
      <img class="card-img-top" src="img/image6.jpg" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
  </div>-->