{% include "layout.html.twig" %}



{% block body %}
    {% block test %}
        {% if blogPost is defined %}
            <p>test</p>
                <div>
                    {{ user.username }}
                </div>
                <div>

                    <div class="text">

                        {{ blogPost.description }}
                    </div>
                    <div>
                        {{ blogPost.createdAt|date('Y-m-d') }}
                    </div>
                    <div style="width: 100%">
                        <iframe width="40%" height="300" src="
                        https://maps.google.com/maps?width=100%&amp;height=300&amp;hl=en&amp;q=
                        {{ blogPost.adress }}&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe></div><br />
                    <div>
                        <a href="{{ path('signal_article', {'slug': blogPost.slug }) }}">Signaler</a>

                    </div>
                </div>
    <!-- AFFICHAGE DES COMMENTAIRES -->
                <div>
                    <table>
                        {% for commentaire in commentaires %}
                            <tr>
                                <td><a href="{{ path('see_profil', {"username": commentaire.user}) }}">{{ commentaire.user }}</a> :</td>
                            </tr>
                            <tr style="border-bottom: 3px solid black; padding: 50px;">
                                <td>{{ commentaire.comment }}</td>
                                <td><a href="{{ path('signal_comment', {'id': commentaire.id }) }}">Signaler</a></td>

                            </tr>




                        {% endfor %}
                    </table>
                </div>

                    <div class="row">
                        <div class="col-sm-12 blog-main">
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="bg-{{ label }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {{ form_start(form) }}
                            <div class="form-group col-md-4 pull-right">
                                {{ form_widget(form.comment) }}
                            </div>
                            <div class="form-group col-md-4 pull-right">
                                {{ form_widget(form.submit) }}
                            </div>
                            {{ form_end(form) }}


                        </div>
                    </div>

        {% endif %}
    {% endblock %}

{% endblock %}