{% include 'layout.html.twig' %}

{% block title %} on fait un test{% endblock %}
{% block content %}
{% block body %}
        <div class="row">
            <div class="col-sm-12 blog-main">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="bg-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ form_start(form) }}
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        {{ form_row(form.title) }}
                    </div>

                    <div class="form-group col-md-12">
                        {{ form_row(form.description) }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form_row(form.body) }}
                    </div>
                    <div class="form-group col-md-4 pull-right">
                        {{ form_widget(form.Categorie) }}
                    </div>
                    <div class="form-group col-md-4 pull-right">
                        {{ form_widget(form.cover) }}
                    </div>
                    <div class="form-group col-md-4 pull-right">
                        {{ form_widget(form.adress) }}
                    </div>
                    <div class="form-group col-md-4 pull-right">
                        {{ form_widget(form.create) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>

{% endblock body %}
            {% endblock content %}