{% include "base.html.twig" %}
{% block fos_user_content %}{% endblock %}

<body>
<div class="container-fluid padding">
  <div class="text-center">
    <img src="img/background.jpg">
  </div>
</div>

<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Bienvenu futur garde</h1>
      <hr>
    </div>
    <div class="col-12">
      <p class="lead">Bientot, peut etre trouveras tu ici une seconde page sur laquelle te renseigner.</p>
    </div>
  </div>
</div>

<figure>
  <div class="fixed-wrap">
    <div id="fixed">

    </div>
  </div>
</figure>

<div class="jumbotron">
  <div class="container-fluid text-center">
  <h1 class="display-5">En attendant</h5>
  <p class="lead">Récite donc ceci avec moi.</p>
  <hr class="my-4">
  <a class="btn btn-warning btn-lg" data-toggle="collapse" href="#exemple" role="button" aria-expanded="false" aria-controls="exemple">En voir plus</a>
  <div class="row">
    <div class="col">
      <div class="collapse" id="exemple">
        <div class="card card-body">
          <p>A spiritu dominatus,</p>
          <p>Domine, libra nos,</p>
          <p>From the lighting and the tempest,</p>
          <p>Our Emperor, deliver us.</p>
          <p>From plague, temptation and war,</p>
          <p>Our Emperor, deliver us,</p>
          <p>From the scourge of the Kraken,</p>
          <p>Our Emperor, deliver us.</p>
          <p></p>
          <p>From the blasphemy of the Fallen,</p>
          <p>Our Emperor, deliver us,</p>
          <p>From the begetting of daemons,</p>
          <p>Our Emperor, deliver us,</p>
          <p>From the curse of the mutant,</p>
          <p>Our Emperor, deliver us,</p>
          <p>A morte perpetua,</p>
          <p>Domine, libra nos.</p>
          <p>That thou wouldst bring them only death,</p>
          <p>That thou shouldst spare none,</p>
          <p>That thou shouldst pardon none</p>
          <p>We beseech thee, destroy them...</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
</body>
