<!--- Footer -->
<html>
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-6">
                <img class"gif" src="img/logo.png" class="img-fluid">
                <hr class="light">
                <p>Qui sommes nous?</p>
                <p>Mentions légales</p>
                <p>Charte d'utilisation</p>
                <p>Devenir Ambassadeur</p>
            </div>
            <div class="col-md-6">
                <img src="img/image3.jpg" class"img-fluid">
                <hr class="light">
            </div>
        </div>
    </div>
</footer>
</html>
