<!-- Navigation -->
{% include "layout.html.twig" %}
<nav class= "navbar navbar-expand-md navbar-light fixed-top col-12" style="background-color: #ffffff;">
 <div class="container-fluid">
	 <a class="navbar-brand" href="#"><img src="{{asset("/img/logok&f.jpg")}}"></a>
   <a class="navbar-brand navbar-light" href="#">Réseau social de proximité</a>
	 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		 <span class="navbar-toggler-icon"></span>
	 </button>
	 <div class="collapse navbar-collapse" id="navbarResponsive">
		 <ul class="navbar-nav ml-auto">
			 <li class="nav-item">
				 <a class="nav-link" href="#">Accueil</a>
			 </li>
			 <li class="nav-item">
				 <a class="nav-link" href="#">Profil</a>
			 </li>
			 <li class="nav-item">
				 <a class="nav-link" href="http://www.dev.kidsandfamily.fr">Blog</a>
			 </li>
			 <li class="nav-item">
				 <a class="nav-link" href="#">Inscription</a>
			 </li>
		 </ul>
	 </div>
 </div>
</nav>
