{% include 'layout.html.twig' %}

{% block title %} on fait un test{% endblock %}
{% block content %}
    {% block body %}
<div class="row">
    <div class="col-sm-12 blog-main">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="bg-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form) }}

        <div class="col-md-12">




        </div>
        {{ form_end(form) }}
    </div>
        {% endblock body %}
        {% endblock content %}