{% include "base.html.twig" %}

{% block title %} Index {% endblock title %}
{% block content %}
<body class="w3-light-grey">
<div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if app.user.cover.file is defined %}
                <img src="{{ asset('uploads/'~app.user.cover.file)| imagine_filter('squared_thumbnail') }}" />
                    {% endif %}
                {{ app.user.username }} |
                <a href=" {{ path('fos_user_profile_edit') }}">edit</a> |
                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a> |
                <a href="{{ path('articles') }}">Articles</a> |
                <a href="{{ path('contacts') }}">Mes contacts</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

            {% endif %}

        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        <div>
            {% block subject %}
            {% endblock subject %}
        </div>

        </body>
    </html>

{% endblock %}
