{% include "layout.html.twig" %}

{% block title %} Message{% endblock %}

{% block body %}
        <div class="row">
        <div class="col-sm-12 blog-main">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="bg-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}


                 {{ form_start(form) }}
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        {{ form_row(form.content) }}
                    </div>
                    <div class="form-group col-md-4 pull-right">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
        </div>
        </div>
{% endblock body %}


